<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>1. Program Sarjana Managemen</p>
    <p>2. Program Sarjana Akuntansi</p>
    <p>3. Program Sarjana Ilmu Ekonomi Pembangunan</p>
    <p>4. Program Sarjana Ekonomi Syariah</p>
    <p>5. Program Diploma III Akuntansi</p>
    <p>6. Program Diploma III Marketing</p>
    <p>7. Program Diploma III Perpajakan</p>
    <p>8. Program Diploma III Keuangan Perbankan</p>
</body>
</html>