<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>1.  Program Studi Pendidikan Nonformal</p>
    <p>2.  Program Studi Pendidikan Bahasa Indonesia</p>
    <p>3.  Program Studi Pendidikan Bahasa Inggris</p>
    <p>4.  Program Studi Pendidikan Biologi</p>
    <p>5.  Program Studi Pendidikan Matematika</p>
    <p>6.  Program Studi Pendidikan Guru Sekolah Dasar</p>
    <p>7.  Program Studi Pendidikan Guru PAUD</p>
    <p>8.  Program Studi Bimbingan dan Konseling</p>
    <p>9.  Program Studi Pendidikan Fisika</p>
    <p>10. Program Studi Pendidikan Ilmu Pengetahuan Alam</p>
    <p>11. Program Studi Pendidikan Kimia</p>
    <p>12. Program Studi Pendidikan Khusus</p>
    <p>13. Program Studi Pendidikan Pancasila dan Kewarganegaraan</p>
    <p>14. Program Studi Pendidikan Sejarah</p>
    <p>15. Program Studi Pendidikan Seni dan Pertunjukkan</p>
    <p>16. Program Studi Pendidikan Sosiologi</p>
    <p>17. Program Studi Pendidikan Vokasional Teknik Elektro</p>
    <p>18. Program Studi Pendidikan Vokasional Teknik Mesin</p>
</body>
</html>