<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>1.  Doktor Pendidikan</p>
    <p>2.  Doktor Ilmu Akuntansi</p>
    <p>3.  Magister Ilmu Hukum</p>
    <p>4.  Magister Ilmu Pertanian</p>
    <p>5.  Magister Administrasi Publik</p>
    <p>6.  Magister Akuntansi</p>
    <p>7.  Magister Ilmu Komunikasi</p>
    <p>8.  Magister Managemen</p>
    <p>9.  Magister Teknik Kimia</p>
    <p>10. Pendidikan Bahasa Indonesia</p>
    <p>11. Pendidikan Matematika</p>
    <p>12. Teknologi Pangan</p>
</body>
</html>