<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a><h1><p>Visi dan Misi Universitas Sultan Ageng Tirtayasa Tahun 2019-2023</p></h1></a>
    <a><h3><p>VISI</p></h3></a>
    <a>Terwujudnya UNTIRTA Sebagai Integrated Smart and Green (Its Green) University yang UNGGUL, BERKARAKTER DAN BERDAYA SAING, di Kawasan ASEAN tahun 2030</a>
    <a><h3><p>MISI</p></h3></a>
    <p>1. Meningkatkan kualitas, relevansi dan daya saing pendidikan serta lulusan yang unggul, berkarakter dan berdaya saing di kawasan ASEAN</p>
    <p>2. Meningkatkan kualitas dan kuantitas penelitian dan pengabdian kepada masyarakat yang inovatif berbasis kebutuhan nyata sesuai perkembangan zaman</p>
    <p>3. Meningkatkan daya dukung tatakelola perguruan tinggi yang baik sebagai implementasi dari Integrated Smart and Green (It’S Green) University</p>
</body>
</html>